<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.html"/>
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="SurahVerse" stopProcessing="true">
                    <match url="^([0-9]+)/([0-9]+)$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="TafsirSurahVerse" stopProcessing="true">
                    <match url="^([a-z]+)/([0-9]+)/([0-9]+)$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <!--                <rule name="Root" stopProcessing="true">
                    <match url="^([a-z]+)$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="DictRoot" stopProcessing="true">
                    <match url="^([a-z]+)/([a-z]+)$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                -->
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
    <appSettings>
    </appSettings>
</configuration>
